* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.deepak {
  width: 100px;
}
img {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.search-box .search-icn {
  width: 22px;
  font-size: 15px;
  background-color: transparent;
}
li {
  list-style: none;
}
.search-box input {
  border: none;
  outline: 0;
  background-color: transparent;
  width: 300px;
}

.nav-pannel {
  display: flex;
  align-items: center;
}
nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 10px 2%;
  justify-content: space-around;
}
.nav-pannel .menu {
  width: 40px;
  margin-left: 20px;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}
.search-box {
  border: 2px solid rgb(204, 204, 204);
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}
.drop-menu{
  width: 100px;
  display: block;
}
.submenu{
  padding: 15px;
  display: none;
  margin-left: 26px;
}
.drop-menu:hover .submenu {
display: block;
position: absolute;
margin-left: -40px;
}
.drop-menu:hover .submenu ul li{
background-color: rgba(0, 0, 255, 0.1);
padding: 15px;


}

.drop-menu:hover .submenu ul li a{
border-bottom: 2px dotted black;
background-color: white;
padding: 10px;
}
